* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  background-image: url("/src/assets/large-cliff-pfeiffer-beach-usa-sunset.jpg");
  background-size: cover;
  background-position: center;
}
.container {
  margin: auto;
  width: 450px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  flex-direction: column;
  display: flex;
  align-items: center;
}
.container h1 {
  font-size: 40px;
}
.container .input-field {
  position: relative;
  width: 80%;
  height: 50px;
  margin: 20px auto;
}
.input-field input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  color: #fff;
  padding: 20px 45px;
}
.input-field input::placeholder {
  color: #fff;
}


